@tailwind base;
@tailwind components;
@tailwind utilities;

.special-container {
    @apply mx-auto px-4 max-w-5xl break-words;
}

.navlink {
    position: relative;
}
.navlink:hover {
    color: rgb(147 51 234);
    /* text-decoration-color: rgb(147 51 234); */
}
.navlink::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px solid black;
}

.navlink:hover::after {
    transition: width linear 0.2s;
    width: 100%;
    border-color: rgb(147 51 234);
}
.navlink-active::after {
    width: 100%;
}
.blog-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
